/* GLOBAL */
body{
  font-family: 'Roboto', sans-serif;
}

.list-inline li{
  display: inline-block;
  padding: 0 10px;
  list-style: none;
}

.margin-30{
  margin: 30px 0;
}

.margin-top10{
  margin-top: 10px;
}

.margin-top50{
  margin-top: 50px;
}

.padding-30{
  padding: 30px 0;
}

.padding-top30{
  padding-top: 30px;
}

.padding-top50{
  padding-top: 50px;
}

.color-grey{
  background-color: #f3f5f9;
}

.over-header{
  overflow: hidden;
}

.line-height-55{
  line-height: 55px;
}

.line-height-35{
  line-height: 35px
}

.font-bold{
  font-weight: bold;
}

.color-textb{
  color: #1a305d;
}

.color-blue{
  color: #006aff;
}

.wd-90{
  width: 90%;
}

.deploy-top p{
  margin: auto;
}


/* HEADER */
.header_fixed{
  height: 55px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 999;
}

header img{
  height: 30px;
}

.hamburger-menu{
  width: 20px;
  height: 3px;
  background-color: #3a8aff;
  margin: 4px 0px 4px auto;
  border-radius: 10px;
}

.header_fixed .container .row div[class*=col-]:last-child{
  margin-top: 13px;
}

.header_fixed .list-inline li a{
  color: #1a305d;
  font-weight: bold;
  font-size: 12px;
}

.btn-header{
  background-color: white;
  color: #3a8aff;
  padding: 15px 32px;
  font-size: 12px;
  cursor: pointer;
}
/* MAIN */
/* SEZIONE JUMBOTRON */
#jumbotron{
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
  padding-top: 55px;
  color: white;
}

.font-jambo{
  font-size: 21px;
  color: #b7caff;
}

.sa-box{
  max-width: 430px;
  background-color: white;
  border-radius: 5px;
  margin: 50px auto;
}

.spazio{
  margin: 0 auto 8px;
}

.btn-jumbo img{
  height: 18px;
  float: left;
}

.btn-jumbo{
  background-color: #579aff;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  height: 25px;
}

.btn-jumbo:last-child{
  background-color: white;
  color: grey;
  padding-right: 18px;
  box-shadow: 1px 1px lightgray;
  margin: 8px 0;
}

/* SEZIONE LOGHI */
#loghi p{
  color: #727d99;
  font-size: 12px;
}

.list-inline img{
  width: 85%;
}

#loghi ul{
  margin: auto;
}

/* SEZIONE DEPLOY */
#deploy  .deploy-top p{
  color: #64718e;
  font-size: 15px;
  width: 90%;
  margin: auto;
}

.list-deploy{
  list-style: none;
  color: #64718e;
  border-left: 1px solid grey;
  padding-left: 7px;
}

.deploy-down{
  width: 80%;
  margin: auto;
  height: 780px;
}
.deploy-box{
  font-size: 12px;
  color: #64718e;
}

.deploy-box h3{
  font-size: 15px;
  font-weight: bold;
}

.deploy-box img{
  height: 30px;
}

/* SEZIONE DESIGNED */
.carosello{
  margin-top: 90px;
}
.carosello img{
  width: 50%;
}

/* SEZIONE FEATURES */
.deploy-box span .fas{
  margin: 0 5px;
  font-size: 9px;
}

.deploy-box {
  margin-top: 10px;
}
/* SEZIONE REGIONS */
#regions{
  background-color: blue;
}

.blocco{
  max-width: 405px;
}

#regions h2{
  color: white;
}

.sa-city{
  color: white;
  border-bottom: 1px solid white;
  padding: 5px 0;
}

.last{
  border: none;
  margin-bottom: 20px;
}
/* SEZIONE DEVELOPMENT */
#development{
  height: 300px;
}

.box-image{
  width: 265px;
  height: 220px;
  background-color: white;
  margin: auto;
}

/* SEZIONE GET-STARTED */
#get-started{
  height: 200px;
  background-color: blue; 
  color: white;
}

#footer-list .container .row div{
  height: 300px;
  background-color: salmon;
  margin: 10px 10px;
}

@media screen and (max-width: 767px){
  .hamburger-menu{
    margin: 4px 15px 4px auto;
  }
  .sa-box{
    margin-top: 0;
  }  

  ul{
    max-width: 381px;
  }

  .list-loghi ul li{
    width: 48%;
  }

  #features .container .row{
    text-align: left;
  }

  .blocco{
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .sa-box{
    width: 263px;
  }
  
  .list-loghi ul li{
    height: 65.44px;
  }

  .wd-50{
    width: 49%;
    display: inline-block;
  }
  
  .va-top{
    vertical-align: top;
  }

  .paddin-left20{
    padding-left: 25px;
  }

  .box-m{
    margin-top: 50px;
  }

  .box-image{
    width: 300px;
  }

  .deploy-down{
    height: 410px;
  }
}

@media screen and (min-width: 992px){
  .wd-50{
    width: 49%;
    display: inline-block;
  }
  
  .va-top{
    vertical-align: top;
  }

  .box-image{
    width: 400px;
  }

  .deploy-down{
    height: 410px;
  }

  .paddin-left20{
    padding-left: 25px;
  }

  .box-m{
    margin-top: 50px;
  }

}