/* GLOBAL */
body{
  font-family: 'Roboto', sans-serif;
}

ul .list-inline li{
  display: inline-block;
  padding: 0 10px;
  list-style: none;
}

.margin-30{
  margin: 30px 0;
}

.margin-top10{
  margin-top: 10px;
}

.margin-top50{
  margin-top: 50px;
}

.padding-30{
  padding: 30px 0;
}

.padding-top30{
  padding-top: 30px;
}

.color-grey{
  background-color: #f3f5f9;
}

.over-header{
  overflow: hidden;
}

.line-height-55{
  line-height: 55px;
}

.line-height-35{
  line-height: 35px
}

.font-bold{
  font-weight: bold;
}

.color-textb{
  color: #031c4e;
}

.color-blue{
  color: #006aff;
}

.wd-90{
  width: 90%;
}

/* HEADER */
.header_fixed{
  height: 55px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 999;
}

header img{
  height: 35px;
}

/* MAIN */
/* SEZIONE JUMBOTRON */
#jumbotron{
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
  padding-top: 55px;
  color: white;
}

.font-jambo{
  font-size: 21px;
  color: #b7caff;
}

.sa-box{
  max-width: 430px;
  background-color: white;
  border-radius: 5px;
  margin: 50px auto;
}

.spazio{
  margin: 0 auto 8px;
}

.btn img{
  height: 30px;
  float: left;
}

/* SEZIONE LOGHI */
#loghi p{
  color: #727d99;
  font-size: 12px;
}

.list-inline img{
  width: 85%;
}

#loghi ul{
  margin: auto;
}

/* SEZIONE DEPLOY */
#deploy  .deploy-top p{
  color: #64718e;
  font-size: 15px;
  width: 90%;
  margin: auto;
}

.list-deploy{
  list-style: none;
  color: #64718e;
  border-left: 1px solid grey;
  padding-left: 7px;
}

.deploy-down{
  width: 80%;
  margin: auto;
  height: 720px;
}
.deploy-box{
  font-size: 12px;
  color: #64718e;
}

.deploy-box h3{
  font-size: 15px;
  font-weight: bold;
}

.deploy-box img{
  height: 30px;
}

/* SEZIONE DESIGNED */
#designed{
  height: 300px;
}

/* SEZIONE FEATURES */
#features{
  height: 300px;
}

/* SEZIONE REGIONS */
#regions{
  height: 400px;
  background-color: blue;
}

.blocco{
  max-width: 355px;
  height: 150px;
  background-color: white;
  margin: 10px 10px
}

#regions h2{
  color: white;
}

/* SEZIONE DEVELOPMENT */
#development{
  height: 300px;
}

.box-image{
  width: 265px;
  height: 220px;
  background-color: white;
  margin: auto;
}

/* SEZIONE GET-STARTED */
#get-started{
  height: 200px;
  background-color: blue; 
  color: white;
}

#footer-list .container .row div{
  height: 300px;
  background-color: salmon;
  margin: 10px 10px;
}

@media screen and (max-width: 767px){
  .sa-box{
    margin-top: 0;
  }  

  ul{
    max-width: 381px;
  }

  .list-loghi ul li{
    width: 48%;
  }

  #features .container .row{
    text-align: left;
  }

  .blocco{
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .sa-box{
    width: 263px;
    height: 400px;
  }

  .box-m{
    margin-top: 50px;
  }

  .box-image{
    width: 300px;
  }

  .deploy-down{
    height: 410px;
  }

  .deploy-box{
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
}

@media screen and (min-width: 992px){
  .sa-box{
    height: 400px;
  }
  
  .list-loghi{
    height: 250px;
  }

  .box-image{
    width: 400px;
  }

  .deploy-down{
    height: 410px;
  }

  .deploy-box{
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }

  .box-m{
    margin-top: 50px;
  }

}